h1{
    color: black;
}
body{
    text-align: center;
}
.cocktail{
    display:grid;
    grid-template-columns: 1fr;
    gap: 1rem

}
.cocktail li img{
    width: 100%;
}
@media screen and (min-width: 769px){
    .cocktail{
        grid-template-columns: 1fr 1fr 1fr;
       gap: 2 rem;
    }
    
}
